<div class='manga-holder'>
  <div class='row info-box'>
    <div class='col-md-3 col-lg-3 col-xs-3 thumbnail'>
      <%= image_tag @manga.thumbnail %>
    </div>
    <div class='col-md-9 col-lg-9 col-xs-9 info'>
      <h1><%= @manga.title %></h1>
      <p><strong>Author: </strong>
        <% @manga.authors.each do |author| %>
          <span><%= link_to author, "/search?author=#{author}", method: 'post' %>, </span>
        <% end %>
      </p>
      <p><strong>Genre: </strong>
        <% @manga.genres.each do |genre| %>
          <span><%= link_to genre, "/search?genre=#{genre}", method: 'post' %>, </span>
        <% end %>
      </p>
      <p><strong>Status: </strong><%= @manga.status %></p>
      <p><strong>Description:</strong> <%= @manga.description %></p>

      <%= render 'layouts/subcrible_form' %>

    </div>
  </div>

  <div class="chapter-box">
    <% @chapters.each do |chapter| %>
      <div class='row'>
        <div class='col-md-9 col-lg-9 col-xs-9 chapter'>
          <%= link_to "#{chapter.chapter_number}", manga_chapter_path(@manga, chapter) %>
          <%#= chapter.chapter_index %>
        </div>
        <div class='col-md-3 col-lg-3 col-xs-3 time'>
          <span><%= chapter.date.to_date %></span>
        </div>
      </div>
    <% end %>
  </div>

</div>


<%= render 'layouts/comment' %>
