<div class='manga-box'>
  <%#= image_tag manga.thumbnail %>
  <%= link_to "#{manga.title}", manga, { 'data-toggle' => "tooltip",
                  :title => "<img src=" + manga.thumbnail + " style='width:200px; height: auto;' alt='Smiley'>
                              <h1>" + manga.title+ "</h1>
                              <p>" + manga.description + "</p>
                  ",
                  :class => "manga-path" } %>
  <% if !manga.status.nil? %>
    <% if manga.status == 'Completed' %>
      <span class='pull-right'><%= manga.status %></span>
    <% else %>
      <span class='pull-right'><%= link_to manga.chapters.first.chapter_number, manga_chapter_path(manga.id, manga.chapters.first.id) %></span>
      <% end %>
  <% end %>
  <br>
</div>
