<div class='main-page'>
  <div class='row'>
    <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8' id='manga-list'>
      <div class='chap-feed' >
      	<div class='title'>
				<h3>Manga</h3>
				<h3 class='pull-right'>Status/Latest chapter</h3>
				</div>
			  <div class='manga-listing'>
			    <%= render @mangas %>
			    <%= will_paginate %>
  			</div>
      </div>
    </div>

    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4' id='advance-search'>
    	<%= form_for :manga, url: search_path, method: 'get' do %>
	    	<h1>ADVANCE FILTERS</h1>
	    	<h2>Genres</h2>
	    	<ul class = 'genres row' %>
		    <% @genres.each do |genre| %>
		      <li class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
		      	<label class="btn triStateCheckBox btn-default">
							<input type="hidden" name=<%= genre.gsub(" ", "_") %> value="na"> <%= genre %> <span class="glyphicon"></span>
						</label>
		      </li>
		    <% end %>
		    </ul>
		    <h2>Status</h2>
        <div class="btn-group status-button" data-toggle="buttons">
  				<label class="btn btn-default active"><input type="radio" name="status" value=nil checked=""> All</label>
  				<label class="btn btn-default"><input type="radio" name="status" value="Ongoing"> Ongoing</label>
  				<label class="btn btn-default"><input type="radio" name="status" value="Completed"> Completed</label>
				</div>
        <br />
		    <button type="submit" class="btn btn-lg btn-default fiftyPercent" id='search-button'>
		    	<span class="glyphicon glyphicon-search margRight10 hidden-xs"></span>
		    	Submit
		    	<span class="hidden-xs"> Search</span>
		    </button>
		    <a href= '#' class="btn btn-lg btn-default fiftyPercent" id='clearform'>
		    	<span class="glyphicon glyphicon-fire margRight10 hidden-xs"></span>
		    	Clear
		    	<span class="hidden-xs"> Form</span>
		    </a>
		   <% end %>
    </div>
  </div>
</div>
