<div class='main-page'>
  <div class='row'>
    <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8' id='manga-list'>
      <%= render 'info' %>
    </div>

    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
      <%= render 'layouts/top_and_new_mangas' %>
    </div>
  </div>
</div>
