<% @feeds_mangas.each do |manga| %>

  <%= link_to(manga) do %>

    <li class='col-md-3 col-lg-3 col-xs-3'>
      <div style="background-image: url(<%= manga.thumbnail %>);">
        <% chap = manga.chapters.min_by(&:chapter_index) %>
        <%= link_to chap.chapter_number, manga_chapter_path(manga, chap) %>
        <span class='pull-right'><%= time_ago_in_words(manga.updated_at) %></span>
      </div>
      <strong>
        <%= link_to manga.title, manga %>
      </strong>

      <br>

    </li>
  <% end %>
<% end %>