


<div class='main-page'>
  <div class='row'>
    <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8'>



      <div class="carousel-container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">


          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @cover_mangas.each_with_index do |manga, index| %>
              <div class='item'>
                <a href=<%= manga_path(manga.id) %> >
                  <%= image_tag manga.coverpic %>
                </a>
              </div>
            <% end %>
            <script type="text/javascript">
              $(document).ready(function(){
                $('.carousel-inner .item:first').addClass('active')
              });
            </script>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class='chap-feed' >
        <h1>Latest Chapters</h1>

        

        <ul id='manga-feed' class='row'>
          <%= render 'feed' %>
        </ul>
        <div id='infinite-scrolling'>
          <%= will_paginate @feeds_mangas %>  
        </div>
        

      </div>

    </div>

    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
      <%= render 'layouts/top_and_new_mangas' %>
    </div>
  </div>
</div>
