<ul class='navigation-bar'>
  <li><%= link_to "#{@manga.title}", manga_path(@manga), class:'btn'%></li>
  <li>
   <div class='dropdown'>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <%= @chapter.chapter_number %><span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @manga.chapters.each do |chap| %>
          <li><%= link_to "#{chap.chapter_number}", manga_chapter_path(@manga, chap) %></li>
        <% end %>
      </ul>
    </div>
  </li>
  <li class='pull-right'>
    <% if @prev_chap %>
      <%= link_to "Previous", manga_chapter_path(@manga, @prev_chap), class:'btn previous' %>
    <% else %>
      <%= link_to "Previous", '#', class:'btn previous disabled' %>
    <% end %>

    <% if @next_chap %>
      <%= link_to "Next", manga_chapter_path(@manga, @next_chap), class: 'btn next' %>
    <% else %>
      <%= link_to "Next", '#', class: 'btn next disabled' %>
    <% end %>
  </li>
</ul>
