<%= render 'navigation_bar' %>

<div class='picture-container'>
  <% @chapter.picture_urls.each do |pic| %>
    <%= image_tag pic %>
    <br>
  <% end %>
</div>

<%= render 'navigation_bar' %>

<div class='row'>
  <div class='col-lg-6 col-md-6 col-sm-6 col-lg-offset-3'>
    <%= render 'layouts/comment' %>
  </div>
</div>
