/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "chapters";
 @import "mangas";
 @import "pages";


header {
  height: 50px;
  background-color: #2c2c2c;
  #application-menu {
    max-width: 1170px;
    margin: auto;
    #the-basics {
      display: inline-block;
    }
    ul.navbar-right {
     margin-right: 0px;
      li {
        a {
          color: white;
          &:hover {
            color: black;
          };
        }
      }
    }
    a {
      color: white;
    }
    input {
      height: 35px;
      margin-top: 7px;
      width: 200px;
      padding-left: 10px;
    }
  }
}

a {
  /*color: black;*/
}

#registermodal, #loginmodal {
  .form-holder {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    background: white;
    opacity: 1;
    padding: 20px;  
  }
  
}


#infinite-scrolling {
  text-align: center;
  ul.pagination {
    visibility: hidden;
  }
}