// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture-container {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  text-align: center;
  img {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

ul.navigation-bar {
  background-color: white;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.manga-listing {
  margin-left: 50px;
  margin-right: 30px;
}

ul.dropdown-menu {
  min-width: 50px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  li {
    padding-top: 0;
    padding-bottom: 0;
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
