// Place all the styles related to the Mangas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.manga-holder {
  margin: auto;
  max-width: 1170px;
  padding: 10px;
  background: white;
}

.info-box {
  padding: 20px;
  .row {
    margin: 0;
    .thumbnail { padding: 0}
    img { width: 100%}
  }
}
.chapter-box {
  .chapter a { margin-left: 10px}
  .time span { padding-right: 10px; float: right}
}

.jumbotron {
  max-width: 750px;
  margin: auto;
}

.title {
  padding: 10px 40px;
  h3 {
    display: inline-block;
  }
}

.row.genres {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    label {
      width: 100%;
      font-size: 10px;
    }
  }

}
.main-page {
  padding: 20px;
  .row {
    margin: 0;
    #manga-list {
      padding-left: 0;
      .home-bar {
        margin-bottom: 15px;
      }
      .chap-feed {
        padding: 40px;
        .title {
          padding: 0;
          h3 {
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
          }
        }
        .manga-listing {
          padding: 0;
          margin: 0;
        }
      }
    }
    #advance-search {
      background: white;
      padding: 15px;
      h1 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
      }
      h2 {
        font-size: 15px;
        font-weight: bolder;
        margin: 5px;
      }
      label.triStateCheckBox {
        border-radius: 0;
        font-size: 13px;
        margin-bottom: 5px;
        width: 95%;
      }
      .status-button {
        margin-bottom: 20px;
      }
      #search-button {
        width: 55%;
        border-radius: 0;
        margin: 0;
        margin-right: 8px;
      }
      #clearform {
        width: 40%;
        border-radius: 0;
      }
    }
  }
}
