// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #3C983B!important;
  .main-page {
    max-width: 1170px;
    padding: 15px;
    margin: auto;
    background-color: #CCCCCC;
    .row {
      padding-top: 10px;
    }
    .carousel-container {
      margin-top: -20px;
    }
  }
}

.chap-feed {
  max-width: 750px;
  padding: 20px;
  background-color: white;
  margin: auto;
  h1 {
    margin: 0;
    font-size: 20px;
  }
  #manga-feed.list {
    list-style: none;
    padding-left: 10px;
    li {
      padding: 5px;
      img {
      height: 30px;
      width: 30px;
      float: left;
      margin: 5px;
      }
    }
  }
  #manga-feed.row {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    li {
      height: 255px;
      div {
        background-size: cover;
        height: 220px;
        position: relative;
        text-align: center;
        a {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          background:black;
          opacity: 0.8;
          color: white;
          font-weight: bold;
        }
        span {
          background-color: red;
          color: white;
          // font-weight: bold;
        }
      }
      img {
      width: 100%;

      }
    }
  }
}

ul.home-bar {
  max-width: 750px;
  margin: auto;
  background: white;
  margin-top: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

ul.top-mangas, ul.new-mangas{
  list-style: none;
  background-color: white;
  padding: 0px;
  h1 {
    background-color: #2c2c2c;
    color: white;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    margin: 0px;
    margin-bottom: 5px;
  }
  li {
    padding-bottom: 5px;
    padding-left: 5px;
    img {
      width: 40px;
      height: 40px;
    }
  }

}

.tooltip {
  opacity: 1!important;
  .tooltip-inner {
    // max-width: 500px;
    // width: auto;
    // height: 255px;
    // text-align: left;
    // padding: 10px;

    // p {padding-left: 180px;}
    // h1 {padding-left: 180px;}
  }
}
#comments {
  background: white;
  .comment {
    background: white;
    min-height: 56px;
    margin: 0;
    padding: 5px;
    img {
      height: 40px;
      margin: 5px;
      float: left;
      margin: 0;
    }
    h3 {
      display: block;
      font-size: 13px;
      margin-top: 0px;
      margin-bottom: 2px;
      font-weight: bold;
    }
  }
}

#new_comment {
  p {
    margin-top: 10px;
    textarea {
      border-radius: 5px;
      outline: none;
      width: 79%;
      height: 40px;
    }
    input {
      float: right;
      width: 19%;
      height: 40px;
    }
  }

}
