<%= form_for(Comment.new, remote: true) do |f| %>
  <%= hidden_field_tag :commentable_id, @commentable.id %>
  <%= hidden_field_tag :commentable_type, @commentable_type %>
  <p>
    <%= f.text_area :content %>
    <%= f.submit "Submit", class:'btn' %>
  </p>
<% end %>

<div id="comments">
  <%= render '/layouts/comment_display' %>
</div>
