<% for comment in @comments %>
  <div class="comment">
    <% user = User.find_by(id: comment.user_id) %>
    <% gravatar_id = Digest::MD5::hexdigest(user.email.downcase) %>
    <% gravatar_url = "https://secure.gravatar.com/avatar/#{gravatar_id}" %>
    <%= image_tag(gravatar_url, alt: user.email, class: "gravatar") %>
    <h3><%= user.email %></h3>
    <%=simple_format comment.content %>
  </div>
<% end %>
