<header>
  <div id='application-menu'>
    <%= link_to 'Hoang Manga', root_path, class:'navbar-brand' %>
    <%= link_to 'Manga Directory', mangas_path, class:'navbar-brand' %>

    <div id="the-basics">
      <%= form_for :manga, url: search_path, method: 'post' do %>
        <input class="typeahead" type="text" placeholder="Seach manga" name='title' >
        <input type = 'submit' value ='Submit' class='hidden'>
      <% end %>
    </div>

    <ul class='nav navbar-nav navbar-right'>

      <% if user_signed_in? %>
        <li>
          <a href=<%= subcrible_path %> >
            <span class='glyphicon glyphicon-bookmark'></span>
            Bookmark
          </a>
        </li>
        <li>
          <a href=<%= destroy_user_session_path %> data-method='delete'>
            <span class='glyphicon glyphicon-user'></span>
            Logout
          </a>
        </li>
      <% else %>
        <li>
          <a href='#' data-toggle='modal' data-target='#registermodal'>
            <span class='glyphicon glyphicon-plus-sign'></span>
            Register
          </a>
        </li>

        <li>
          <a href='#' data-toggle='modal' data-target='#loginmodal'>
            <span class='glyphicon glyphicon-user'></span>
            Login
          </a>
        </li>
      <% end %>


    </ul>

  </div>
</header>

<div id='registermodal' class='modal fade' role='dialog'>
  <div class='form-holder'>
    <h1>Register Form</h1>
    <%= simple_form_for User.new, url: user_registration_path do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<div id='loginmodal' class='modal fade' role='dialog'>
  <div class='form-holder'>
    <h1>Login Form</h1>

    <%= simple_form_for(User.new, as: 'user', url: session_path('user')) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

  </div>
</div>

<script>
$(document).ready(function(){
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
      // an array that will be populated with substring matches
      matches = [];
      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');
      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });
      cb(matches);
    };
  };

  var titles = <%= @titles.to_json.html_safe %>

  $('#the-basics .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1,
    selectable: 'Typeahead-selectable'
  },
  {
    name: 'titles',
    source: substringMatcher(titles)
  });
});
</script>
