<%= form_for(current_user.bookmarks.build, remote: true) do |f| %>
<%#= form_for(@bookmark, remote: true) do |f| %>
<%#= form_for(@bookmark, remote: true) do |f| %>
  <%= hidden_field_tag :manga_id, @manga.id %>
  <%= f.submit "Subcrible", class: 'btn btn-default' %>
<% end %>
