<% if user_signed_in? %>
  <div id='subcrible_form'>
    <% if current_user.follow?(@manga) %>
      <%= render 'layouts/unsubcrible' %>
    <% else %>
      <%= render 'layouts/subcrible' %>
    <% end %>
  </div>
<% end %>
