<ul class = 'top-mangas' %>
  <h1>Top Manga</h1>
  <% @top_mangas.each do |manga|%>
    <li>
      <%= image_tag manga.thumbnail, class:'top-thumbnail' %>
      <%= link_to manga.title, manga %>
    </li>
  <% end %>
</ul>

<ul class = 'new-mangas' %>
  <h1>New Manga</h1>
  <% @new_mangas.each do |manga|%>
    <li>
      <%= image_tag manga.thumbnail, class:'new-thumbnail' %>
      <%= link_to manga.title, manga %>
    </li>
  <% end %>
</ul>
