<%= form_for(current_user.bookmarks.find_by(manga_id: @manga.id), remote: true, html:{method: :delete}) do |f| %>
  <%= hidden_field_tag :manga_id, @manga.id %>
  <%= f.submit "Unsubcrible", class: 'btn btn-default' %>
<% end %>
